.contact {
  header {
    display: flex;
    flex-direction: column;
  }
  height: 100vh;
  background: radial-gradient(#ffffff, #f5e2c8);
  color: $color-dark;
  .container-fluid {
    height: 80vh;
    .row {
      justify-content: center;
      align-items: center;
      // text-align: center;
      height: 100%;
      padding: 50px;
    }
    h2 {
      text-align: center;
      font-family: 'Righteous';
    }
  }
  h5 {
    font-weight: 300;
    font-size: 26px;
    b {
      font-weight: 700;
    }
  }
  h6 {
    font-weight: 400;
    font-size: 20px;
  }
  p {
    text-align: center;
  }
  .social-wrapper {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      span {
        padding-top: 10px;
      }
    }
    :nth-child(1) {
      svg {
        color: #3b5998;
      }
    }
    :nth-child(2) {
      svg {
        color: #00acee;
      }
    }
    :nth-child(3) {
      svg {
        color: #ca1390;
      }
    }
  }
  u {
    color: rgb(24, 146, 240);
  }
}
