.package {
  background: radial-gradient(#ffffff, #f5e2c8);
  color: $color-dark;
  height: 100vh;
  .container-fluid {
    height: 80vh;
    .row {
      height: 100%;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      :nth-child(2) {
        background: url(/img/logo-img-front.png);
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: 230px 80px;
      }
      :nth-child(6) {
        background: url(/img/stick-opener.png);
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: 200px 30px;
      }
    }
  }
}

