// VARIABLES
$color-light: #f5e2c8;
$color-dark: #34312d;

// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

// CONFIG
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $color-light;
  color: $color-dark;
  width: 1000px;
  height: 1200px;
  // overflow: hidden;
}

// COVER
.cover {
  background: radial-gradient($color-light, $color-dark);
  color: $color-light;
  height: 1200px;
  width: 1000px;
  overflow: hidden;
  .hook {
    position: absolute;
    margin-top: -10px;
    font-family: 'Nunito', sans-serif;
    width: 900px;
    h2 {
      color: #f5e2c8;
      font-size: 24px;
      padding: 15px;
      background: linear-gradient(left, #34312dda, #34312d01);
      border-top-left-radius: 20px;
    }
  }
}

.container-fluid {
  .row {
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .wrapper {
      position: relative;
      top: 30px;
      right: 30px;
      display: flex;
      justify-content: end;
      height: 100px;
      h1 {
        text-align: end;
        font-size: 120px;
        font-family: 'Righteous', cursive;
      }
    }
    .description {
      position: relative;
      top: 15px;
      right: 20px;
      height: 50px;
      font-size: 24px;
      font-weight: 400;
    }
    svg {
      position: absolute;
      top: 20px;
      right: -5px;
      scale: 1.5;
    }
  }
}

// UPPER LAYER
.upper-layer {
  position: relative;
  width: 1000px;
  height: 1200px;
  top: -1200px;
  // background: linear-gradient(bottom,#34312da6, #f5e2c866 15%, #e8dfcc44 50%, #ffffff11);
  border: solid 10px rgba(252, 193, 0, 0.5);
  // border-bottom: none;
  .container-fluid {
    position: absolute;
    bottom: 20px;
    left: 20px;
    .row {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .certification {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        border: solid 1px;
        border-radius: 10px;
        position: relative;
        background: #dddddd88;
        div {
          display: flex;
          align-items: center;
          padding: 10px;
        }
        .ce {
          img {
            width: 40px;
          }
        }
        .rohs {
          img {
            width: 40px;
          }
        }
        .triangle {
          img {
            width: 40px;
          }
        }
        .bin {
          img {
            width: 40px;
          }
        }
        .bin2 {
          img {
            width: 30px;
          }
        }
      }
      .table {
        display: flex;
        border: solid 1px;
        border-radius: 10px;
        background: #dddddd88;
        padding: 10px 0px;
        div:nth-child(1) {
          * {
            border-bottom: solid 1px;
          }
          :nth-child(1) {
            border: none;
          }
          :nth-child(3) {
            border: none;
          }
          :nth-child(4) {
            border: none;
          }
          :nth-child(6) {
            border: none;
          }
        }
        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          border-left: solid 1px;
          padding-left: 20px;
          img:nth-child(1) {
            width: 120px;
          }
          img:nth-child(2) {
            width: 120px;
          }
        }
      }
    }
  }
}

// BACKGROUND IMAGE
.img-wrapper {
  .index-image {  
    width: 1000px; 
    height: 1000px;
    background: url(/img/logo-img-detail2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.short {
  height: 100px;
  width: 1000px;
  background-color: rgba(252, 193, 0, 0.5);
  position: absolute;bottom: 110px;
  z-index: 1;
}
.long {
  height: 100px;
  width: 1200px;
  background-color: rgba(252, 193, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
